@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Fredericka+the+Great&display=swap');

body {
  font-family: 'SF Pixelate', sans-serif;
  background: #111113;
  height: 98vh;
  color: #fff;
}

header {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8cffa5;
  color: #111113;
}

#Principal {
  width: 100%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: -20px;
  height: 70%;
  max-width: 700px;
  min-height: 700px;
  background-color: #111113;
  padding: 4rem 2rem;
  transition: 0.3s;
  border-radius: 20px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  background-color: #8cffa5;
  font-size: 1.2rem;
  border-radius: 20px;
  color: #111113;
}

.espaciotu {
  padding-right: 10px;
}
.espaciopc {
  padding-left: 10px;
}

.cardJuego {
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.card .cardJuego .btn {
  width: 100%;
  height: 150px;
  cursor: pointer;
  background-color: #18181a;
  border: 3px solid #111113;
  border-radius: 20px;
}

.piedra {
  background-image: url('img/piedra.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
}
.papel {
  background-image: url('img/papel.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
}
.tijera {
  background-image: url("img/tijera.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
}

.card .informacion {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -10px;
  background-color: #18181a;
  border: 3px solid #111113;
  border-radius: 20px;
}

.informacion h1 {
  font-size: 1.5rem;
}

.opcion1 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #18181a;
  border: 3px solid #111113;
  height: 300px;
  border-radius: 20px;
}

.opcion1 .btn {
  padding: 100px 100px;
  cursor: pointer;
  background-color: #18181a;
  border: none;
}

#op1,
#op2,
#op3,
#piedra2,
#papel2,
#tijera2,
#vs,
#win1,
#win2,
#win3,
#over1,
#over2,
#over3,
#winer1,
#winer2,
#winer3 {
  display: none;
}

.tuOpcion {
  padding: 100px 100px;
  background-color: #111113;
  border: none;
  background-image: url("/piedra.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
  border-radius: 20px;
}

@media (max-width: 700px) {

  .titulo {
    font-size: 0.8rem;
  }

  .card .cardJuego .btn {
    width: 100%;
  }

  .piedra {
    background-image: url("/piedra.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50%;
  }
  .papel {
    background-image: url("/papel.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50%;
  }
  .tijera {
    background-image: url("/tijera.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50%;
  }

  #vs {
    font-size: 1rem;
  }

  .opcion1 .btn {
    padding: 60px 60px;
  }
  
}